.baidu_player_speed {
  margin-bottom: 10px;
}

.suspended-ball {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  background: #3071a9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  filter: alpha(opacity=50);
  /*IE滤镜，透明度50%*/
  -moz-opacity: 0.5;
  /*Firefox私有，透明度50%*/
  opacity: 0.5;
  /*其他，透明度50%*/
  z-index: 9999;
  /*最高的层级*/
  top: 10%;
  right: 10%;
}
.suspended-ball #inner {
  width: 30px;
  height: 30px;
  margin: 10px;
  background: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position-x: 50%;
  background-position-y: 50%;
}
.btn-primary {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  transition: all 0.15s ease;
  will-change: transform;
  letter-spacing: 0.025em;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
}
.btn-primary:hover {
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.layui-form-item > .layui-inline:last-child {
  float: right;
  line-height: 38px;
}